# Ignore all env venv
venv/*
.env*

# Ignore all log files
*.log
*.json

# Ignore vs code configuration files
.vscode/*

# Ignore all data
*.jpg
*.mp4

# Ignore all __pycache__ directories
__pycache__/

# Ignore all .pyc files
*.pyc
